<h2>id</h2>
<h2>.class</h2>
<h2>tagName</h2>
<h2>*</h2>
<h2>first, second, ...</h2>
<h2>outer inner</h2>
<h2>parent > child</h2>
<h2>prev + next</h2>
<h2>prev ~ next</h2>
<h2>[name]</h2>
<h2>[name = value]</h2>
<h2>[name != value]</h2>
<h2>[name ^= value]</h2>
<h2>[name $= value]</h2>
<h2>[name *= value]</h2>
<h2>[name ~= value]</h2>
<h2>[name |= value]</h2>
<h2>[first][second][...</h2>
<h2>:first</h2>
<h2>:last</h2>
<h2>:eq(index)</h2>
<h2>:not(selector)</h2>
<h2>:even</h2>
<h2>:odd</h2>
<h2>:gt(n)</h2>
<h2>:lt(n)</h2>
<h2>:header</h2>
<h2>:animated</h2>
<h2>:hidden</h2>
<h2>:visible</h2>
<h2>:lang()</h2>
<h2>:first-child</h2>
<h2>:last-child</h2>
<h2>:nth-child(conditions)</h2>
<h2>:nth-child-last(conditions)</h2>
<h2>:only-child</h2>
<h2>:first-of-type</h2>
<h2>:last-of-type</h2>
<h2>:contains(text)</h2>
<h2>:empty</h2>
<h2>:has(selector)</h2>
<h2>:parent</h2>
<h2>:input</h2>
<h2>:button</h2>
<h2>:radio</h2>
<h2>:checkbox</h2>
<h2>:text</h2>
<h2>:password</h2>
<h2>:file</h2>
<h2>:submit</h2>
<h2>:reset</h2>
<h2>:image</h2>
<h2>:focus</h2>
<h2>:selected</h2>
<h2>:checked</h2>
<h2>:enabled</h2>
<h2>:disabled</h2>
