body {
  position: relative;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}

body::after {
  content: "";
  background: url("../../../../images/tokolo/10pppK80.gif") repeat 0 0;
  opacity: 0.05;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  position: absolute;
  z-index: -1;   
}

$imenu_width: 150px;
$background_color: #ffffff;
$hover_background_color: #dddddd;
$current_background_color: #eeeeee;
$border_color: #dddddd;
$border_radius: 4px;
$color: inherit;

.imenu {
  padding: 0;
  margin: 0;
  list-style: none;
  width: $imenu_width;
  border: solid 1px $border_color;
  border-radius: $border_radius;
  background-color: $background_color;
  box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.2);

  a, span {
    display: block;
    padding: 10px 15px 10px 10px;
    color: $color;
    text-decoration: none;
    word-break: break-word;
  }

  li {
    position: relative;
    margin-right: -1px;
    &:first-child {
      border-top-left-radius: $border_radius;
      border-top-right-radius: $border_radius;
    }
    &:last-child {
      border-bottom-left-radius: $border_radius;
      border-bottom-right-radius: $border_radius;
    }

    &:hover {
      background-color: $hover_background_color;

      &>ul {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
      }
    }
    &:focus-within > ul {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
    }

    &.current {
      background-color: $current_background_color;

      &:hover {
        background-color: $hover_background_color;
      }
    }
  }

  ul {
    width: 100%;
    min-width: $imenu_width;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    top: 0;
    left: 100%;
    border: solid 1px $border_color;
    border-radius: $border_radius;
    background-color: $background_color;
    box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.2);
    transform: scale(0);
    transform-origin: left top 0;
    transition: opacity .2s linear .1s, transform .2s linear .0s;

    &:hover {
      transform: scale(1);
      visibility: visible;
      opacity: 1;
    }

    &+i {
      display: block;
      width: 10px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      &::after {
        content: "";
        display: block;
        width: 0px;
        height: 0px;
        position: absolute;
        top: 50%;
        margin-top: -4px;
        border: solid 4px;
        border-color: transparent transparent transparent black;
      }
    }
  }

  &.horisonatal {
    width: max-content;

    &>li {
      float: left;
      &>ul {
        top: 100%;
        left: 0;
        &+i::after {
          left: -2px;
          margin-top: -2px;
          border-color: black transparent transparent transparent;
        }
      }
    }

    li {
      &:first-child {
        border-radius: $border_radius 0 0 $border_radius;
      }
      &:last-child {
        border-radius: 0 $border_radius $border_radius 0;
      }
    }

    &::after {
      content: "";
      display: block;
      clear: both;
    }
  }
}
