bootstrap-sass-3.3.7/**/*.png
bootstrap-sass-3.3.7/**/*.jpg
bootstrap-sass-3.3.7/**/*.jpeg
bootstrap-sass-3.3.7/**/*.gif

bootstrap-sass-3.3.7/**/*.woff2
bootstrap-sass-3.3.7/**/*.woff
bootstrap-sass-3.3.7/**/*.ttf
bootstrap-sass-3.3.7/**/*.eot
bootstrap-sass-3.3.7/**/*.woff2

vendor/

