[submodule "js/_tasks/dotdotdot"]
	path = js/_tasks/dotdotdot
	url = https://github.com/tbasse/jquery-truncate.git
[submodule "php/_libs/tree"]
	path = php/_libs/tree
	url = https://github.com/Zlatov/tree.git
[submodule "js/_libs/zlader"]
	path = js/_libs/zlader
	url = git@github.com:Zlatov/Zlader.git
[submodule "sublime-text-3/_libs/prefixw"]
	path = sublime-text-3/_libs/prefixw
	url = git@github.com:Zlatov/prefixw.git
[submodule "js/_libs/ilorem"]
	path = js/_libs/ilorem
	url = git@github.com:Zlatov/ilorem.git
