<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>

  <!-- Пример 1 -->
  <div id="app">
    {{ message }}
  </div>

  <!-- Пример 2 -->
  <div id="app-2">
    <span v-bind:title="message">
      Наведи на меня курсор на пару секунд,
      чтобы увидеть динамически связанное значение title!
    </span>
  </div>

  <!-- Пример 3 -->
  <div id="app-3">
    <span v-if="seen">Сейчас меня видно</span>
  </div>

  <!-- Пример 4 -->
  <div id="app-4">
    <ol>
      <li v-for="todo in todos">
        {{ todo.text }}
      </li>
    </ol>
  </div>

  <!-- Пример 5 -->
  <div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">Перевернуть сообщение</button>
  </div>

  <!-- Пример 6 -->
  <div id="app-6">
    <p>{{ message }}</p>
    <input v-model="message">
  </div>

  <!-- Пример 7 -->
  <div id="app-7">
    <ol>
      <vue-component-li v-for="text in groceryList" v-bind:arg1="text"></vue-component-li>
    </ol>
  </div>

  <script type="text/javascript" src="/theme/yarn/vue/dist/vue.min.js"></script>
  <script type="text/javascript">
    "use strict"

    // Пример 1
    var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue!'
      }
    })
    console.log('app: ', app)
    function ch_app() {
      window.app.message = "Hello, World!"
    }
    setTimeout(ch_app, 1000)

    // Пример 2
    var app2 = new Vue({
      el: "#app-2",
      data: {
        message: 'Вы загрузили эту страницу: ' + new Date().toLocaleString()
      }
    })

    // Пример 3
    var app3 = new Vue({
      el: '#app-3',
      data: {
        seen: true
      }
    })
    setTimeout(function() {
      window.app3.seen = false
    }, 2000)

    // Пример 4
    var app4 = new Vue({
      el: '#app-4',
      data: {
        todos: [
          { text: 'Изучить JavaScript' },
          { text: 'Изучить Vue' },
          { text: 'Создать что-нибудь классное' }
        ]
      }
    })
    setTimeout(function() {
      window.app4.todos.push({ text: 'Profit' })
    }, 2000)

    // Пример 5
    var app5 = new Vue({
      el: '#app-5',
      data: {
        message: 'Привет, Vue.js!'
      },
      methods: {
        reverseMessage: function () {
          this.message = this.message.split('').reverse().join('')
        }
      }
    })

    // Пример 6
    var app6 = new Vue({
      el: '#app-6',
      data: {
        message: 'Привет, Vue!'
      }
    })

    // Пример 7
    Vue.component('vue-component-li', {
      props: ['arg1'],
      template: '<li>{{ arg1 }}</li>'
    })

    var app7 = new Vue({
      el: '#app-7',
      data: {
        groceryList: [
          "Овощи",
          "Сыр",
          "Что там ещё люди едят?"
        ]
      }
    })

  </script>
</body>
</html>
