// $primary-color: #020202;

@import "reset";

// Переменные
$color: #010101;
$font-size: 12px;

$primary-color: $color !default;
$secondary-color: null !default;

// Примеси
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

body {
	color: $primary-color;
	font-size: $font-size + 10px;
}

nav {
	color: red;
	li {
		margin: 0;
		@include border-radius(10px);
	}
}

.link {
	text-decoration: none;
	&:hover {
		color: red;
	}
}

// Наследование
// поидее использоваться должно редко, чаще "уточнения", но это не то
%box {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}

.box {
  @extend %box;
}

.box-left {
  @extend %box;
  border-color: green;
}

.box-rigth {
  @extend %box;
  border-color: red;
}

// Пример математики
aside[role="complementary"] {
  float: right;
  width: 300px / 960px * 100%;
}
