.grid {
  &.row, .row {
    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    float:left;
  }
  .col-1  {width: 8.333%;}
  .col-2  {width: 16.664%;}
  .col-3  {width: 25%;}
  .col-4  {width: 33.333%;}
  .col-5  {width: 41.664%;}
  .col-6  {width: 50%;}
  .col-7  {width: 58.333%;}
  .col-8  {width: 66.664%;}
  .col-9  {width: 75%;}
  .col-10 {width: 83.333%;}
  .col-11 {width: 91.664%;}
  .col-12 {width: 100%;}
}
