
// 
// Color
// 
$primary_color: #F66C00;

$secondary_color: #08497B;
$lighter_secondary_color: #2F71A3;
// $lighter_secondary_color: #0971b5;

$gray: #333333;
$lighter_gray: #EFEFEF;

// 
// Border
// 
$border_radius: 3px;
