.form_z {
  .check_b {
    cursor: pointer;
    vertical-align: -5px;
    font-size: 1.25em;
    @include noselect();

    & > input {
      visibility: hidden;
      position: absolute;
    }

    & > input + span {
      display: inline-block;
      width: 1em;
      height: 1em;
      position: relative;
    }

    & > input + span::after {
      font-family: FontAwesome;
      content: "\f096";
      color: $secondary_color;
      display: inline;
      position: absolute;
      top: 0;
      left: 0;
      font-size: 1.0em;
      line-height: 1.0em;
      text-indent: 0.0em;
    }

    & > input:checked + span::after {
      content: "\f046";
    }
  }
}
