RewriteEngine on

# Options +FollowSymlinks
RewriteBase /htaccess/chpu/testslesh/
RewriteRule ^.htaccess$ - [F]

## RewriteCond %{HTTP_HOST} !^www\. [NC]
## RewriteCond %{HTTP_HOST} !^$
## RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !.*/$
RewriteRule ^(.*)$ $1/ [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^.*$ index.php