label, input[type='checkbox'] {
  cursor: pointer;
}
#filters {
  float: left;
  width: 25%;
  user-select: none;
}
#filters > div::before {
  display: block;
  font-weight: bold;
  content: attr(data-filter);
}
#filters label.disabled {
  color: gray;
}
#products {
  width: 75%;
  margin-left: 25%;
}
