.menu a {
  color: red;
}

.menu {
  background-image: url("../../../../../../images/16-16-nature.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
