.products {
  width: 877px;
}

.products .h1 {
  padding: 0 0 17px;
  color: #333;
  font: 20px/22px 'Roboto', sans-serif;
  text-align: left;
}

.products.limited .liner {
  width: 870px;
  white-space: nowrap;
  overflow: hidden;
}

.products.limited>.liner>.liner-line {
  position: relative;
  left: 0px;
  transition: left 1.3s ease-in-out;
}

.product {
  width: 184px;
  min-height: 44px;
  padding: 0 9px 10px;
  margin: 0 14px 20px 0;
  border: 1px solid #efefef;
  background: red;
  text-align: center;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.liner-prev,
.liner-next {
  display: block;
  float: right;
  cursor: pointer;
  visibility: hidden;
}
.products.limited .liner-prev,
.products.limited .liner-next {
  visibility: visible;
}

.liner-prev.disable,
.liner-next.disable {
  opacity: 0.3;
  cursor: default;
}

.liner-prev::after {
  content: 'prev';
}

.liner-next::after {
  content: 'next';
}