#field {
  display: inline-block;
}

#timer_button {
  display: inline-block;
  vertical-align: top;
  // width: 10px;
  // height: 10px;
  // background-color: red;
}

body {
  // background-image: url("img/100-100-colorful-autumn.jpg");
  background-repeat: repeat;
}
