<h2>Консоль</h2>
<p>Открываем консоль <kbd>Ctrl</kbd>+<kbd>`</kbd> или <q>View</q> &rarr; <q>Show Console</q></p>
<h3>Отображать команды в консоли</h3>
<p>Вводим команду: <code class="copyToClipboard">sublime.log_commands(True)</code></p>

<h2>Sublime API...</h2>
<ul>
    <li><a href="https://www.sublimetext.com/docs/3/api_reference.html" target="_blank">https://www.sublimetext.com/docs/3/api_reference.html</a></li>
    <li><a href="https://habrahabr.ru/post/136529/" target="_blank">https://habrahabr.ru/post/136529/</a></li>
</ul>

<h2>Основы</h2>
<h3>Проекты</h3>
<p><strong>Очистить список проектов в „Switch Project“:</strong></p>
<p>Project → Open Recent → Clear Items</p>
<h2>Keyboard shortcuts</h2>
<ul>
    <li><kbd>Ctrl + P</kbd> - список файлов проекта (с поиском) и открытие выбранного;</li>
    <li><kbd>Ctrl + Shift + P</kbd> - вывести списко снипетов и команд всех плагинов с поиском, а так же сменить подветку синтаксиса текущего файла;</li>
    <li><kbd>Ctrl + Alt + P</kbd> - переключиться на другой проект (с поиском);</li>
    <li><kbd>Ctrl + R</kbd> - список методов в файле и переход по ним (с поиском)</li>
    <li><kbd>Ctrl + G</kbd> - переход к строке по номеру</li>
    <li><kbd>Alt + -</kbd> - переход к предыдущему месту редактирования;</li>
    <li><kbd>Ctrl + Alt + LMB</kbd> - чтобы свернуть все папки в сайдбаре сублима достаточно кликнуть ЛКМ по корневой папке с зажатым Ctrl и Alt (в Windows только с Alt).</li>
    <li><kbd>Ctrl + D</kbd> - выделить текущее слово или если уже выделены символы, то выделить следующий такой же набор символов</li>
    <li><kbd>Ctrl + Shift + D</kbd> - </li>
    <li><kbd>Ctrl + Shift + G</kbd> - окружить выделенное новым HTML тегом</li>
    <li><kbd>Ctrl + Shift + A</kbd> - выделить все в текущем HTML теге</li>
    <li><kbd>Ctrl + J</kbd> - добавить следующую строку (с вычетом отступа следующей строки) к текущей через пробел</li>
    <li><kbd>Ctrl + Shift + Space</kbd> - всплывающая подсказка с DocBlock если поствить курсор в начало параметров метода (сразу после открывающей круглой скобки)</li>
</ul>
<h3>Закладки</h3>
<ul>
    <li><kbd>Ctrl + F2</kbd> — Установить / снять закладку.</li>
    <li><kbd>F2</kbd> — Перейти к следующей закладке.</li>
    <li><kbd>⇧ + F2</kbd> — Перейти к предыдущей закладке.</li>
    <li><kbd>Ctrl + ⇧ + F2</kbd> — Удалить все закладки.</li>
</ul>
<h2>Плагины</h2>
<h3>ANSIescape</h3>
<p>заставить работать плагин для колорирования текста в Build System:</p>
<ol>
<li>содержимое файла <var class="copyToClipboard">/home/user/.config/sublime-text-3/Packages/User/Ruby-color.sublime-build</var>:
<pre class="copyToClipboard">
{
    &quot;cmd&quot;: [&quot;ruby&quot;, &quot;$file&quot;],
    &quot;file_regex&quot;: &quot;rb$&quot;,
    &quot;target&quot;: &quot;ansi_color_build&quot;,
    &quot;syntax&quot;: &quot;Packages/ANSIescape/ANSI.tmLanguage&quot;
}
</pre>
</li>
<li>Tools -> Build With...</li>
</ol>
<p>Примечания:</p>
<p>для руби печатать надо puts-ом</p>


<h3><strong>Package Control</strong></h3>
<p> — <a target="_blank" href="https://packagecontrol.io/installation">Package Control</a> =);</p>
<h3><strong>ApacheConf.tmLanguage</strong></h3>
<p> — Apache Conf Syntax Highlighting - подсветка синтаксиса .htaccess;</p>
<h3><strong>AutoFileName</strong> img[src] link[href]&#133;;</h3>
<p> — для пошагового ввода пути к файлу посредством выпадающих списков</p>
<h3>FuzzyFilePath</h3>
<p> — выпадающие списки файлов с почти нечетким поиском;</p>
<h3>CSS Extended Completions</h3>
<p> — выпадающие списки существующих стилей (нужно дабавить в кэш CSS файлы или всю папку по
    <kbd>ПКМ</kbd> в «сайдбаре» и наслаждаться);</p>
<h3><strong>CSS Format</strong></h3>
<p> — упаковывает CSS или наоборот в удобочитаемый;</p>
<h3><strong>Emmet — обязательный плагин</strong></h3>
<p><del>не нуждается в комментариях;</del></p>
<p>Каждый раз, мать его, каждый раз при обновлении Sublime, Emmet перестает работать. Приходится, чтоб его, каждый раз производить пляску с бубном что-бы эта тварь заработала.</p>
<ol>
    <li>Удалить Emmet</li>
    <li>Удалить PyV8</li>
    <li>
        Удалить сжатую папку <var>/home/iadfeshchm/.config/sublime-text-3/Installed Packages/0_package_control_loader.sublime-package</var>
    </li>
    <li>
        Установить вручную PyV8 <a href="https://github.com/emmetio/pyv8-binaries#manual-installation">https://github.com/emmetio/pyv8-binaries#manual-installation</a>
    </li>
    <li>Установить Emmet</li>
</ol>
<h3><strong>PyV8</strong></h3>
<p>При ручной установке (<a href="https://github.com/emmetio/pyv8-binaries#manual-installation">https://github.com/emmetio/pyv8-binaries#manual-installation</a>) архив необходимо распаковать по пути <code>~/.config/sublime-text-3/Packages/PyV8/...</code> <mark>И!</mark> по пути <code>~/.config/sublime-text-3/Installed Packages/PyV8/...</code>.</p>
<p>Устанавливается "Почти" автоматически при установке Emmet; (необходим для работы плагина)</p>
<h3>Emmet CSS snippets — пока и без этого неплохо снипится все;</h3>
<h3><strong>StringUtilities</strong></h3>
<p> — HTML сущности в символы, наоборот и другие полезности;</p>
<h3><strong>Bootstrap 3 Snippets</strong></h3>
<p> — A sublime plugin complete with Bootstrap 3 snippets;</p>
<h3><strong>Gist</strong></h3>
<h3>Git</h3>
<p> – плагин для работы с Git через ST;</p>
<h3><strong>GitGutter</strong></h3>
<p> — подсветка изменений в файле;</p>
<h3>Modific</h3>
<p> – тоже что и Git​Gutter;</p>
<h3><strong>Goto-CSS-Declaration</strong></h3>
<p> — переход к классу в css файл;</p>

<h3><strong>HTML-CSS-JS Prettify</strong></h3>
<p> — оформление отступами, стоит вместе со следующим плагином, друг другу не мешают;</p>
<pre class="prettyprint lang-js">    &quot;indent_char&quot;: &quot;\t&quot;, // Indentation character
...
&quot;indent_size&quot;: 1, // Indentation size
</pre>
<p>часто ругается что nodejs либо не установлен, либо старая версия:</p>
<p>1. лезем в настройки пакета, что стоит в</p>
<pre>
    "node_path":
    {
        "windows": "C:/Program Files/nodejs/node.exe",
        "linux": "/usr/local/bin/node",
        "osx": "/usr/local/bin/node"
    },
</pre>
<p>из консоли набрать which node и сверить с тем что в настройках.</p>

<h3><strong>CodeFormatter</strong></h3>
<p> — понятно для чего, немного по вкусу настроить и все;</p>
<p>Использует php 5.6! Настроить в конфиге!</p>
<h3>SqlBeautifier</h3>
<p>
    <kbd>Ctrl + k, Ctrl + f</kbd>
</p>
<h3>Super Calculator</h3>
<p>
    <kbd>Alt + c</kbd>
</p>
<h3><strong>SFTP</strong></h3>
<p> — передача файлов через SSH, так что всё в порядке;</p>
<h3><strong>SideBarEnhancements</strong></h3>
<p> — расширение функционала левого меню;</p>
<h3><strong>MoveTab</strong></h3>
<p> — перемещение вкладок по горячей клавише;</p>
<h3><strong>SublimeCodeIntel</strong></h3>
<p> — смотреть настройки, лишнее убрать: например HTML - с ним легко справляются другие плагины;</p>
<p>Парсил yii2 минуты три, хотя SSD…</p>
<pre>
    "codeintel_language_settings": {
        // "Python3": {
        //     "python3": "/usr/local/bin/python3.3",
        //     "codeintel_scan_extra_dir": [
        //         "/Applications/Sublime Text.app/Contents/MacOS",
        //         "~/Library/Application Support/Sublime Text 3/Packages/SublimeCodeIntel/arch",
        //         "~/Library/Application Support/Sublime Text 3/Packages/SublimeCodeIntel/libs"
        //     ],
        //     "codeintel_scan_files_in_project": true,
        //     "codeintel_selected_catalogs": []
        // },
        // "JavaScript": {
        //     "codeintel_scan_extra_dir": [],
        //     "codeintel_scan_exclude_dir":["/build/", "/min/"],
        //     "codeintel_scan_files_in_project": false,
        //     "codeintel_max_recursive_dir_depth": 2,
        //     "codeintel_selected_catalogs": ["jQuery"]
        // },
        "PHP": {
            // Абсолютный путь к exe!:
            "php": "C:\\xampp\\php\\php.exe",
            "codeintel_scan_extra_dir": [],
            "codeintel_scan_files_in_project": true,
            "codeintel_max_recursive_dir_depth": 15,
            "codeintel_scan_exclude_dir":[],
            // В edafult_settings этой строки нет, есть в инструкции на домашней странице пакета:
            "phpConfigFile": "php.ini"
        }
</pre>
<p>Чтобы зареиндексить SublimeCodeIntel необходимо удалить файлы В папке: <code class="copyToClipboard">rm -rf ~/.codeintel/db/*</code></p>
<h3>Tag</h3>
<p> — закрывать тэг по /, отступы (автоматическая расстановка отступов просто ужасная)
    <del>использую</del> из-за отличной работы с атрибутами тегов;</p>
<p><a href="https://github.com/titoBouzout/Tag">https://github.com/titoBouzout/Tag</a></p>
<p>скачайте или склонируйте содержимое из этого репозитория в папку с названием пакета в дерикторию Packages саблайм</p>
<pre class="prettyprint lang-sh copyToClipboard">cd ~/.config/sublime-text-3/Packages
git clone https://github.com/titoBouzout/Tag.git

</pre>
<h3><strong>View In Browser</strong></h3>
<p> — открыть файл в браузере;</p>
<p>Настройка проекта</p>
<pre>
{
    "folders":
    [
        {
            "path": "lab"
        }
    ],
    "settings":
    {
        "sublime-view-in-browser":
        {
            "baseUrl": "http://lab.local/",
            "basePath": "/home/iadfeshchm/projects/my/lab/lab/"
        }
    }
}
</pre>
<h3>sublime-yii-snippets (Yii Framework Snippets);</h3>
<h3>SideBarGit</h3>
<p> —
    <del>прекрасный</del> плагин для работы с Git через ST (кому то может не понравиться что через мышь);</p>
<h3>rsub</h3>
<p> — править удаленные файлы через ssh;</p>
<h3>livestyle-sublime</h3>
<p> — рабочий плагин, но мне не очень нужен;</p>
<h3><strong>BracketHighlighter</strong></h3>
<p> — подсветка парных скобок и тегов, и без него подсвечивается вроде как;</p>
<h3><strong>Terminal</strong></h3>
<p> – открывает терминал, текущий путь терминала такой же как и у редактируемого в Sublime Text файле;</p>
<h4>Настройки</h4>
<p>Настройки в файле <code>C:\Users\maksim\AppData\Roaming\Sublime Text 3\Packages\User\Terminal.sublime-settings</code>, для терминала MINGW32 поставляемого c «<a href="http://git-scm.com/">Домашней страницы проекта Git</a>»:</p>
<pre>
"terminal": "C:\\Program Files (x86)\\Git\\bin\\sh.exe",
"parameters": ["--login", "-i"],</pre>
<p>Желаемого можно добиться по разному, ещё прокатывает вот так (без параметров):</p>
<pre>{
    "terminal": "C:\\Program Files\\Git\\git-bash.exe",
}</pre>
<p>А для терминала поставляемого вместе с Cygwin:</p>
<pre>
"terminal": "C:\\cygwin64\\bin\\mintty.exe",
"parameters": ["-i", "C:\\cygwin64\\Cygwin-Terminal.ico"],</pre>
<h3><strong>DocBlock</strong></h3>
<p> – документирование <code>/**</code>
    <kbd>Tab</kbd>.</p>
<h3><strong>GitGutter</strong></h3>
<h4>Установка win</h4>
<p>
    <kbd>win</kbd> +
    <kbd>r</kbd> &rarr; <code>cmd</code> &rarr; <code>git --exec-path</code> &rarr; добавляем путь к
    <q>Переменные среды</q> &rarr;
    <q>Системные переменные</q> &rarr;
    <q>Path</q>.
</p>
<p>После этого добавляем плагин через PackageControl.</p>
<h3>HexViewer</h3>
<p>Редактирование шестнадцатиричных и бинарных файлов</p>

<h2>Rsub</h2>
TODO

Редактирование удалённых файлов на локальной машине в Sublime Text

Host zlatovrmate
    HostName asdasdasd
    User asdasdasd
    Port 22
    IdentityFile ~/.ssh/id_rsa
    RemoteForward 52698 localhost:52698

<h2>Автокомлит</h2>
<h3>Снипеты</h3>
<h3>Завершения (Completions)</h3>
<p>В sublime text можно заменить XCompose (ИксСоставление) Completions (завершениями).</p>
<p>
    Создаем файл <code>~/.config/sublime-text-3/Packages/User/my-completions.sublime-complations</code> с примерно таким содержанием:
</p>
<pre class="prettyprint lang-js">{
    &quot;completions&quot;: [
        {
            &quot;contents&quot;: &quot;–&quot;,
            &quot;trigger&quot;: &quot;utf8-minus&quot;
        },
        {
            &quot;contents&quot;: &quot;—&quot;,
            &quot;trigger&quot;: &quot;utf8-tire&quot;
        },
        {
            &quot;contents&quot;: &quot;«»&quot;,
            &quot;trigger&quot;: &quot;utf8-kavichki-elki&quot;
        },
        {
            &quot;contents&quot;: &quot;„“&quot;,
            &quot;trigger&quot;: &quot;utf8-kavichki-lapki&quot;
        },
        {
            &quot;contents&quot;: &quot;&amp;#8222;&amp;#8220;&quot;,
            &quot;trigger&quot;: &quot;utf8-kavichki-lapki-html-code&quot;
        },
        {
            &quot;contents&quot;: &quot;←↑→↓&quot;,
            &quot;trigger&quot;: &quot;utf8-strelki&quot;
        },
        &quot;iadfeshchm&quot;
    ]
}</pre>
<h2>Подсветка кода</h2>
<p>Выбор синтаксиса из меню Sublime:</p>
<p>
    <q>View</q> → <q>Syntax</q> → <q>Open all with current extansion as...</q> → <var>Синтаксис</var>
</p>
<p>Приводит к созданию файла <code>~/.config/sublime-text-3/Packages/User/<var>Синтаксис</var>.sublime-settings</code> примерно с таким кодом:</p>
<pre class="prettyprint lang-js">
{
    "extensions":
    [
        "css"
    ]
}
</pre>
<p>Можно донастроить:</p>
<h3>Отсупы/табы</h3>
<pre class="prettyprint lang-js">
{
    "extensions":
    [
        "css"
    ],
    "tab_size" : 4, // Устанавливает размер табов
    "detect_indentation": false, // Разрешение автоматически определять чем делать отступ при нажатии клавиши Tab (пробелами или табом) - позволяет продолжить программировать в том же стиле если установлено true
    "translate_tabs_to_spaces": true // Определяет нужно ли преобразовывать таб в пробелы при нажатии клавиши Tab ()
}
</pre>
<p>Свойство "translate_tabs_to_spaces": true (отсупать пробелами) игнорируется в том случае если "detect_indentation": true и сублайм определит что в этом файле стиль отступа табами а не пробелами, однако если в какой-то строке сделать четыре пробела, а потом нажать Enter, то следующая строка автоматически сделает отступ в стиле пробелов.</p>
<p>в общем жесть.</p>
<h2>Build system — выполнить файл в консоли Sublime</h2>
<p>Настроить под язык, например Ruby - создать файл <var>~/.config/sublime-text-3/Packages/User/RB.sublime-build</var>:</p>
<pre class="prettyprint lang-js copyToClipboard">{
    // "cmd": ["~/.rbenv/versions/2.3.1/bin/ruby", "$file"],
    "cmd": ["ruby", "$file"],
    "file_regex": "rb$"
    // "selector": "source.rb"
}</pre>
<p>Находясь в файле *.rb жмём <kbd>Ctrl</kbd> + <kbd>B</kbd>.</p>
<p>Если подвисли то предварительно нстроенный хоткей:</p>
<pre class="prettyprint lang-js copyToClipboard">
    // Build system
    // kill process command: exec {"kill": true}
    { "keys": ["ctrl+alt+b"], "command": "exec", "args": {"kill": true }},
</pre>
<h2>Убрать значки папок в теме <q>Theme - Soda</q></h2>
<p>Файлы темы установлены в архив <code>.config/sublime-text-3/Installed Packages/Theme - Soda.sublime-package</code>.</p>
<p>Распакуем и отредактируем <q>Soda Dark 3.sublime-theme</q>, установив <q>content_margin</q> в указанные значения:</p>
<pre class="prettyprint lang-js">
   {
       "class": "icon_file_type",
       "content_margin": [0,0]
   },
   {
       "class": "icon_folder",
       "content_margin": [0,0]
   },
   {
       "class": "icon_folder_loading",
       "content_margin": [0,0]
   }
</pre>
